.style-form{
    margin: 2.5rem;
    padding: 1.5rem;
    border-radius: 0.85rem;
    box-shadow: 10px 20px 18px #656565 ;
    color: rgb(29, 32, 34);
    background-color: rgba(196, 194, 194, 0.666);
}
.form-control{
    border-radius: 0.5rem;
}
.forms{
    display: flex;
    justify-content: center;
}

#drop_zone {
    border-radius: 0.75rem;
    margin: 2.5rem;
    width: 100%;
    color: black;
    flex: 0 0 20em;
    height: 500px;
    text-align: center;
    box-shadow: 10px 20px 18px #656565 ;
    background-color: rgba(196, 194, 194, 0.666);
  }
  #drop_zone p{
    position: relative;
    top: 200px;
  }
  .butn{
    width: 20em;
    height: 3em;
    border-radius: 2rem;
    font-size: 26px;
    font-weight: 900;
  }
  .butn:hover{
    width: 20.05em;
    height: 3.05em;
    box-shadow: 0px 10px 10px #656565 ;
  }